# Ignore virtual environments
venv/

# Ignore Python cache files and folders everywhere
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system file
.DS_Store

# Ignore model files
*.joblib
*.pkl
*.keras
*.zip

# Ignore logs
logs/

# src folders where the trained models are stored
src/

# Ignore data files
cats-and-dogs-classification/data/

